@page "/administration/roles/create"
@inject IRoleClientService _roleClient
@inject IDialogService _dialogService

@attribute [Authorize(Roles = "Super admin")]

<div class="row">
    <div class="col-md-5">
        <MudCard>
            <MudForm Model="@RequestModel" @ref="@form"
                     Validation="@(validator.ValidateValue)"
                     ValidationDelay="0">
                <DisplayErrorMessage Message="@ErrorMessage" />
                <MudSpacer />
                <MudCardContent>
                    <MudTextField @bind-Value="RequestModel.Name"
                                  For="@(() => RequestModel.Name)"
                                  Immediate="true"
                                  Label="Role name" />

                    <MudTextField Lines="5" @bind-Value="RequestModel.DescriptionEn"
                                  For="@(() => RequestModel.DescriptionEn)"
                                  Immediate="true"
                                  Label="Description En" />

                    <MudTextField Lines="5" @bind-Value="RequestModel.DescriptionBg"
                                  For="@(() => RequestModel.DescriptionBg)"
                                  Immediate="true"
                                  Label="Description Bg" />
                </MudCardContent>
            </MudForm>
            <MudCardActions>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Class="ml-auto"
                           OnClick="@(async () => await CreateAsync())">
                    Create
                </MudButton>
            </MudCardActions>
        </MudCard>
    </div>

    <div class="col-md-7">
        @if (AllRolesResponse.Result is not null)
        {
            <MudDataGrid T="RoleResponseModel" Items="@AllRolesResponse.Result">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">All roles</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="SearchString"
                                  Placeholder="Search"
                                  Adornment="Adornment.Start"
                                  Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium"
                                  Class="mt-0">
                    </MudTextField>
                </ToolBarContent>
                <Columns>
                    <PropertyColumn Property="role => role.CreatedOn" Title="Created on" Sortable="false" Filterable="false" />
                    <PropertyColumn Property="role => role.Name" Title="Role name" Sortable="false" Filterable="false" />
                    <TemplateColumn CellClass="d-flex justify-end">

                        <CellTemplate>
                            <MudIconButton Icon="@Icons.Material.Filled.Info"
                                           Color="Color.Primary" aria-label="Details"
                                           @onclick="() => GetDetailsAsync(context.Item.Id)">
                            </MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                           Color="Color.Success" aria-label="Edit"
                                           @onclick="() => UpdateAsync(context.Item.Id)">
                            </MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.Remove"
                                           Color="Color.Error" aria-label="Remove"
                                           OnClick="() => RemoveAsync(context.Item.Id)">

                            </MudIconButton>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        }
    </div>
</div>

@code {

    private string SearchString = string.Empty;
    private string ErrorMessage = string.Empty;
    private ResponseContent<IReadOnlyList<RoleResponseModel>> AllRolesResponse = new();

    protected override async Task OnInitializedAsync()
    {
        AllRolesResponse = await _roleClient.GetAllAsync();
    }

    MudForm? form;
    private CreateRoleRequestModel RequestModel = new();
    private CreteRoleRequestValidator validator = new();
    private ResponseContent CreateResponseContent = new();

    private async Task CreateAsync()
    {
        await form!.Validate();
        if (form.IsValid)
        {
            CreateResponseContent = await _roleClient.CreateAsync(RequestModel);
            if (CreateResponseContent.ErrorResponse is not null)
            {
                ErrorMessage = CreateResponseContent.ErrorResponse.Message;
                return;
            }

            ErrorMessage = string.Empty;
            RequestModel = new();
            AllRolesResponse = await _roleClient.GetAllAsync();
        }
    }

    private ResponseContent<RoleResponseModel> DetailsResponseModel = new();

    private async Task GetDetailsAsync(Guid id)
    {
        DetailsResponseModel = await _roleClient.GetDetailsAsync(id);
        if (DetailsResponseModel.ErrorResponse is not null)
        {
            ErrorMessage = DetailsResponseModel.ErrorResponse.Message;
            return;
        }

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parameters = new DialogParameters<RoleDetailsDialog> { { x => x.RoleResponseModel, DetailsResponseModel.Result } };
        _dialogService.Show<RoleDetailsDialog>("Role Details", parameters, maxWidth);
    }

    private async Task UpdateAsync(Guid id)
    {
        DetailsResponseModel = await _roleClient.GetDetailsAsync(id);
        if (DetailsResponseModel.ErrorResponse is not null)
        {
            ErrorMessage = DetailsResponseModel.ErrorResponse.Message;
            return;
        }

        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        DialogParameters parameters = new DialogParameters<RoleDetailsDialog> { { x => x.RoleResponseModel, DetailsResponseModel.Result } };
        var dialog = _dialogService.Show<EditRoleDialog>("Update Role", parameters, maxWidth);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            AllRolesResponse = await _roleClient.GetAllAsync();
        }
    }

    string State = "Message box hasn't been opened yet";
    private ResponseContent RemoveResponseContent = new();

    private async Task RemoveAsync(Guid id)
    {
        RoleResponseModel? role = AllRolesResponse.Result.FirstOrDefault(x => x.Id == id);
        bool? result = await _dialogService.ShowMessageBox(
            "Delete",
            $"Are you sure you want to delete role with name {role!.Name}?",
            yesText: "Delete!", cancelText: "Cancel");

        State = result == null ? "Canceled" : "Deleted";
        StateHasChanged();

        if (State == "Deleted")
        {
            RemoveResponseContent = await _roleClient.RemoveAsync(id);
            if (RemoveResponseContent.ErrorResponse is not null)
            {
                ErrorMessage = RemoveResponseContent.ErrorResponse.Message;
                return;
            }

            ErrorMessage = string.Empty;
            RequestModel = new();
            AllRolesResponse = await _roleClient.GetAllAsync();
        }
    }
}
